@import "bootstrap";

.cell {
  height:70px;
  width:13.8%;
}

.ev {
  word-wrap: break-word;
  border:1px solid #9FC6E7;
  background-color:#E4EFF8;
  margin:4px;
}

.edit {
  float:right;
  cursor:pointer;
}

// hover on calendar
.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: transparent;
}
